@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Lunasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Italianno&family=Kablammo&family=Lora:ital,wght@1,500&family=Lugrasimo&family=Playfair+Display:ital@1&family=Poppins:wght@500&family=Rubik+Puddles&display=swap');

*{
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: 'Lunasima', sans-serif;
}

/* body{
    height: 100vh;
    background: rgb(11, 178, 142);
} */

/* =================== Header ============================== */
.header{
    width: 100%;
    height: 70px;
    padding: 0px 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header .logo img{
    height: 50px;
    width: auto;
}

.header .contacts{
    display: flex;
}
.header .contact{
    margin: 0px 6px;
    width: 160px; height: 40px;
    background: rgb(251, 255, 0);
    border-radius: 4px;
    padding: 8px 12px;
}
.header .contacts img{
    height: 18px; width: auto;
}

.header .contact span{
    margin-right: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.header .c1{ background: #333;}
.header .c2{ background: #4267B2;}
.header .c3{ background: #E1306C;}
.header .icon{
    position: relative;
    top: 4px;
}

/* =================== hero section ============================== */
.heroSection{
    width: 100%;
    height: 100vh;
    background: url('./assests/images/a1.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    /* position: relative;
    top: -70px; */

    padding: 0px 70px;
}

.heroSection h1{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    line-height: 0.9;
}
.heroSection h1 .fChild{font-size: 60px;}
.heroSection h1 .lChild{font-size: 35px;}

.heroSection p{
    width: 50%;
    margin: 30px 0px;
    font-size: 17px;
    font-weight: 300 !important;
    color: #fff;
    line-height: 1.2;
    text-align: justify;
}

.heroSection .position{
    position: relative;
    top: 120px;
}

.heroSection .btnInscription{
    position: relative;
    top: 210px;

    border: none;
    width: 25%;
    height: 50px;
    background: #fff;
    border-radius: 5px;

    font-size: 20px;
    font-weight: 700;
    color: #4267B2;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* .heroSection .btnInscription:hover{
    background: #4267B2;
    color: #fff;
    border: 2px #fff solid;
} */

/* Formation Section */
.FormationSection{
    width: 100%;
    max-height: 900px;
    position: relative;
    top: 40px;
}
.FormationSection h1{
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 40px;
    font-family: 'Lora', serif;
    color: #4267B2;
}
.cards{
    display: flex;
    justify-content:center;
    align-items: center;
}
.card {
    border-radius: 10px;
    width: 290px;
    height: 290px;
    background-color: rgb(226, 235, 226);
    margin: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: width 2s , height 2s;
}
.card:hover{
    height: 400px;
}
.card h3{
    font-family: 'Lora', serif;
    padding: 7px 20px;
}
.card img{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    width: 290px;
    height: 170px;
}
.card p.description{
    text-align: center;
    padding: 10px;
    height: 80px;
}
.card p.price{
    color: #4267B2;
    font-size: 15px;
    font-weight: 700;
    max-width: 280px;
    padding-top: 30px;
    display: flex;
    justify-content:flex-end;
}
.card p.nombreHeures{
    padding: 20px 20px 0px;
    text-decoration:underline;
}
.statistique{
    width: 100%;
    height: 200px;
    margin-top: 70px;
    flex-wrap: wrap;
}
.Titre h1{
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 40px;
    font-family: 'Lora', serif;
    color: #4267B2;
}
.contenu{
    display: flex;
    justify-content:space-around;
    text-align: center;
} 
.box{
    border-radius: 9px;
    background-color: white;
    width: 270px;
    height: 100px;
    margin: 10px;
    padding: 10px; 
    background-color: rgb(226, 235, 226);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.number{
    font-size: 40px;
    font-weight: 600;
}
.box p{
    padding: 10px;
    font-size: 17px;
}

.formulaire{
    border:#02aeec 1px solid;
    margin-top: 40px;
    display: flex;
    justify-content:space-around;
    height: 450px;
}
.contenu1{
    padding: 13px;
    display: flex;
    align-items: center;
}
input{
    width: 470px;
    height: 50px;
    padding-left: 10px;
    border-radius: 10px;
    border:#02aeec 1px solid;
}
.checkbox{
    width: 20px;
    border:#02aeec 1px solid;
}
textarea{
    width: 470px;
    padding-left: 10px;
    border-radius: 10px;
    border:#02aeec 1px solid;
}
.btn{
    font-family: Arial, Helvetica, sans-serif;
    color: #02aeec;
    font-weight: 700;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn:hover{
    background-color: #02aeec;
    color: white;
}
.formulaire img{
    width: 539px;
    height: 450px;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-content img{
    width: 200px;
}
.footer-content p.titre{
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0px;
}
.footer-content p.infos{
    font-weight: 500;
    font-size: 20px;
}